*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.container{
  width: 50vw;
  height: 80vh;
  display: grid;
  grid-template-columns:  20% 20% 20% 20% ;
  grid-template-rows:  10% 10% 12% 12% 12% 12% 12%;
  gap: 5px;
  margin-left: 105px;
  margin-top: 35px;
}

div{
  color: rgb(12, 12, 12);
  font-size: 25px;
  cursor:grab;
  font-family:  sans-serif;
}

.box:hover{
  background-color: aquamarine;
  
}

.box__c:hover{
  background-color: aquamarine;
}

.box__expo:hover{
  background-color: aquamarine;
}

.box__by:hover{
  background-color: aquamarine;
}

.box__same:hover{
  background-color: aquamarine;
}

.box__one:hover{
  background-color: aquamarine;
}

.box__two:hover{
  background-color: aquamarine;
}

.box__tree:hover{
  background-color: aquamarine;
}

.box__four:hover{
  background-color: aquamarine;
}

.box__five:hover{
  background-color: aquamarine;
}

.box__six:hover{
  background-color: aquamarine;
}

.box__seven:hover{
  background-color: aquamarine;
}

.box__eight:hover{
  background-color: aquamarine;
}

.box__nine:hover{
  background-color: aquamarine;
}

.box__cero:hover{
  background-color: aquamarine;
}

.box__point:hover{
  background-color: aquamarine;
}

.box__sum:hover{
  background-color: aquamarine;
}

.box__more:hover{
  background-color: aquamarine;
}

.box__less:hover{
  background-color: aquamarine;
}

.box__div:hover{
  background-color: aquamarine;
}

.box__porcent:hover{
  background-color: aquamarine;
}

.box__number{

  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  border-radius: 10px 20px 30px 40px;
}

.box__text{

  display: grid;
  border: 1px solid red;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-end: 2;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  border-radius: 10px 20px 30px 40px;
}

.box__text{
  display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-end: 1;
  grid-row-start: 1;
  background-color: blue;
  border-radius: 10px 20px 30px 40px;
}

.box__extra{
  display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-end: 2;
  grid-row-start: 2;
  background-color: rgb(212, 212, 226);
  border-radius: 10px 20px 30px 40px;
}

.box__c{
  
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-end: 3;
  grid-row-start: 3;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 10px 20px 30px 40px;
}

.box__expo{
  
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-end: 3;
  grid-row-start: 3;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 10px 20px 30px 40px;
}

.box__por{

  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-end: 3;
  grid-row-start: 3;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 10px 20px 30px 40px;
}

.box__div{

  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-end: 3;
  grid-row-start: 3;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 10px 20px 30px 40px;
}

.box__same{
 
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-end: 7;
  grid-row-start: 7;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 10px 20px 30px 40px;
}

.box__point{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-end: 7;
  grid-row-start: 7;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 20px 30px 40px;
}

.box__cero{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-end: 7;
  grid-row-start: 7;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 20px 30px 40px;
}

.box__one{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-end: 6;
  grid-row-start: 6;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 20px 30px 40px;
}

.box__two{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-end: 6;
  grid-row-start: 6;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 20px 30px 40px;
}

.box__tree{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-end: 6;
  grid-row-start: 6;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 20px 30px 40px;
}

.box__more{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-end: 6;
  grid-row-start: 6;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 10px 20px 30px 40px;
}

.box__four{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-end: 5;
  grid-row-start: 5;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 20px 30px 40px;
}

.box__five{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-end: 5;
  grid-row-start: 5;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 20px 30px 40px;
}

.box__six{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-end: 5;
  grid-row-start: 5;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 20px 30px 40px;
}

.box__less{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-end: 5;
  grid-row-start: 5;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 10px 20px 30px 40px;
}

.box__seven{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-end: 4;
  grid-row-start: 4;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 20px 30px 40px;
}

.box__eight{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-end: 4;
  grid-row-start: 4;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 20px 30px 40px;
}

.box__nine{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-end: 4;
  grid-row-start: 4;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 20px 30px 40px;
}

.box__by{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-end: 4;
  grid-row-start: 4;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 10px 20px 30px 40px;
}

.box__porcent{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-end: 3;
  grid-row-start: 3;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 10px 20px 30px 40px;
}